@{
  Layout = "_Layout";
}

<div class="container">
  <h1 class="jumbotron">The Amazing Word Counter!</h1>
  <h3>Welcome to the word counter!</h3>
  <p>This simple program will ask you for a word and a sentence. It will then compare the two and return the number of occurrences your word appears in your sentence.</p>
  <a href="counter">Click here to begin!</a>
</div>
