@ {
  Layout = "_Layout";
}

<h1 class="jumbotron">The Amazing Word Counter!</h1>
<h3>Enter a word</h3>

<form action="/counter" method="post">
  <label for="userWord">Your Word</label>
  <input id="userWord" name="userWord" type="text">
  <button type="submit">Add Your Word</button>
</form>

public static void Main()
{
  Counter counter = new Counter();
  Console.WriteLine("\n\n\n-----\n\nPlease enter a word:");
  string userWord = counter.Filter(Console.ReadLine().ToLower());
  Console.WriteLine("\nNow please write out a sentence to compare:");
  string userSentence = counter.Filter(Console.ReadLine().ToLower());
  if ((userWord == "") || (userSentence == ""))
    {
      Console.WriteLine("Whoops! Looks like you didn't enter anything, do it again!\n\n-----\n");
      Console.Read();
      Main();
    }
    else
    {
      Console.WriteLine("\n-----\n\nGreat! Time to do some counting! Press any key to continue.\n\n-----");
      Console.ReadKey();
      int result = new Counter().Compare(userWord, userSentence);
      if (result == 0)
      {
        Console.WriteLine($"{char.ToUpper(userWord[0])}{userWord.Substring(1)} has NO matches found in '{userSentence}'...\n");
      }
      else
      {
        Console.WriteLine($"{char.ToUpper(userWord[0])}{userWord.Substring(1)} has {result} matches found in '{userSentence}', congratulations!\n");
      }
      Console.ReadKey();
    }
}
