@using WordCounter.Models;
@{
  Layout = "_Layout";
}

<div class="container">
  <h3>Your Counter Results:</h3>
  <br>
  <p>Your word "@Model.GetUserWord()" matches "@Model.GetUserSentence()" -- @Model.GetResult() times!</p>
  <br>
  <a href="/counter">Start Again!</a>
</div>
